{% extends 'base.html' %}
{% block title %}Magic: The Gathering Idle Game{% endblock %}

{% block content %}
<script>

</script>

<h1 style="width: fit-content; margin: auto;">COLLECTION</h1>

<form class="row gy-3 gx-4 align-items-center" action="{{ url_for('collection') }}" method="get" style="width: fit-content; margin: auto; padding-top: 0px;">
    <div class="col-auto">
        <label class="form-label" for="name_search">Set Name: </label>
        <input class="form-control" id="name_search" name="name_search" placeholder="Enter set name" type="text" spellcheck="false" autocapitalize="off" value="">
    </div>

    <div class="col-auto">
        <label class="form-label" for="settype">Set type:</label>
        <select class="form-select" id="settype" name="settype">
            <option disabled selected value>Select set type</option>
            <option value="draft_innovation">Draft_Innovation</option>
            <option value="promo">Promo</option>
            <option value="token">Token</option>
            <option value="commander">Commander</option>
            <option value="core">Core</option>
            <option value="memorabilia">Memorabilia</option>
            <option value="expansion">Expansion</option>
            <option value="masters">Masters</option>
            <option value="starter">Starter</option>
            <option value="vanguard">Vanguard</option>
        </select>
    </div>

    <div class="col-auto">
        <label class="form-label" for="sort_by">Sort by:</label>
        <select class="form-select" id="sort_by" name="sort_by">
            <option disabled selected value>Name (default)</option>
            <option value="Sets.name desc">Name (desc)</option>
            <option value="Sets.released_at">Release date</option>
            <option value="Sets.released_at desc">Release date (desc)</option>
            <option value="Sets.set_type">Set type</option>
            <option value="Sets.set_type desc">Set type (desc)</option>
            <option value="Sets.card_count">Number of cards</option>
            <option value="Sets.card_count desc">Number of cards (desc)</option>
        </select>
    </div>

    <div class="col-auto" style="margin-top: 50px;">
        <button class="button" type="submit">Filter</button>
        <a href="{{ url_for('collection', page=1) }}" class="button" style="text-decoration:auto;">Reset</a>
    </div>
</form>

<div class="collection_status">
    <div title=collection-status class="">Cards owned: {{owned_cards|length}} / {{cards|length}}</div>
</div>

<div class="collection_grid">
    {% for set in sets %}
    <div class="set_div">
            <a class="" href="{{ url_for('collection_cards', setname=set.name) }}" style="width: 100%;">
                <img alt={{set.name}} title={{set.name}} src={{set.icon_svg_uri}} class="" style="display: block;">
            </a>
        <div title={{set.name}} class="">{{set.name}}</div>
        <div title=set-collection-status class="">
            Cards owned: {{ set_owned(set.code) }} / {{set.card_count}}
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if sets.has_prev %}
        <span>
            <a class='page-number' href="{{ url_for('collection', page=sets.prev_num, name_search=request.args.get('name_search'),
                        settype=request.args.get('settype'), sort_by=request.args.get('sort_by')) }}">
                {{ 'Prev' }}
            </a>
        </span>
    {% endif %}

    {% for number in sets.iter_pages() %}
        {% if sets.page != number %}
            <span>
                {% if number == None %}
                    <a class='page-number'>
                        {{ '...' }}
                    </a>
                {% else %}
                    <a class='page-number'
                        href="{{ url_for('collection', page=number, name_search=request.args.get('name_search'),
                        settype=request.args.get('settype'), sort_by=request.args.get('sort_by')) }}">
                        {{ number }}
                    </a>
                {% endif %}
            </span>
        {% else %}
            <span class='current-page-number'>{{ number }}</span>
        {% endif %}
    {% endfor %}

    {% if sets.has_next %}
        <span>
            <a class='page-number'
                href="{{ url_for('collection', page=sets.next_num, name_search=request.args.get('name_search'),
                        settype=request.args.get('settype'), sort_by=request.args.get('sort_by')) }}">
                {{ 'Next' }}
            </a>
        </span>
    {% endif %}
</div>

{% endblock %}
