{% extends 'base.html' %}
{% block title %}Magic: The Gathering Idle Game{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">Magic: The Gathering - Pack Opener</h1>
  <p class="description">Get money, open packs, add the cards to your collection (Or gamble)</p>
</div>

<div class="container info">
  <p>
    Welcome to my first real web project, I am Altair Gonzalez a Python developer trying to build a portfolio and have fun in the
    process, this website is in early stage of development so probably not everything is working as intended.
    Feel free to send your feedback -here-, visit my -github-, or my portfolio -site-.
  </p>
</div>

<div class="container roadmap">
  <p>
    ROAD MAP / #TODO
  </p>
  <p>ADD MORE WAYS OF GETTING MONEY</p>
  <p>UPGRADES:</p>
    <ul>
    <li>Increase money per click</li>
    <li>Upgrade the new ways of getting money</li>
    <li>Upgrade game outcomes</li>
    </ul>
  <p>ADD SETTINGS/PROFILE TAB WITH SAVE/LOAD GAME</p>
  <p>ADD GAMES TAB WITH mini-GAMES</p>
  <p>IMPROVE CSS (All my homies hate css)</p>
  <p>IMPROVE FILTERS</p>
</div>

<div class="container legal">
  <p>
    Magic: The Gathering - Pack Opener is unofficial Fan Content permitted under the Fan Content Policy.
    Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast.
    ©Wizards of the Coast LLC
  </p>
  <p>
    Especial shout out to <a href="https://scryfall.com/">Scryfall</a> Without their API this game wouldn't be possible
  </p>
</div>
{% endblock %}